html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Home page
    body
        h3 HOME PAGE

    a(href="/api/show_tasks") Show the Task List

    br
    br

    a(href="/api/create_task") Set a new task
