doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title All Data
    body 
        h1 This are all the Tasks
        ul
            each task, i in tasks
                h3= "This is task number #" + task.id
                li= task.title
                li= task.tier

                if task.completed
                    li IS COMPLETED 
                else 
                    li IS NOT COMPLETED
                br
                
